input {
  tcp {
    port => {{ logstash_input_tcp_port }}
    type => {{ logstash_input_tcp_type }}
  }
  udp {
    port => {{ logstash_input_udp_port }}
    type => {{ logstash_input_udp_type }}
  }
}


filter {
  if [type] == "syslog" {
    multiline {
      pattern => "^[\[<]"
      negate => true
      what => "previous"
    }
    grok {
      match => {
      }
      tag_on_failure => []
    }
    if "_grokparsefailure" in [tags] {
      drop { }
    }
  }
}

output {
  file {
  }
}
